.env
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
**/.next/
mongo_data/
media/images/
media/videos/
*.tsbuildinfo
*.egg-info/
.coverage
htmlcov/
.env.local
.env.*.local

